:root {
  font-family: "Cascadia Mono", sans-serif;

  --pale-blue: #e2eafc;
  --gray-blue: #abc4ff;
  --good-blue: #2667ff;
  --dark-blue: #00072d;

  color: var(--dark-blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--pale-blue);
}
